<!DOCTYPE html>

<html>
    <head>
        <title>WMT Team 1 - Retail Online catalog app</title>
        <style>
            a {color: blue;}
            h1 {font-family: "Times New Roman", Times, serif;}
        </style>
    </head>

    <body>
        <h1>Image</h1>
		<pre>https://s3.us-south.cloud-object-storage.appdomain.cloud/gamification-cos-standard-tkq/</pre>
		
        <img src="<%= 'https://s3.us-south.cloud-object-storage.appdomain.cloud/gamification-cos-standard-tkq/1001.jpg' %>" />
	<img src="<%= 'https://s3.us-south.cloud-object-storage.appdomain.cloud/gamification-cos-standard-tkq/1001.jpeg' %>" />
    </body>
</html>
