<!DOCTYPE html>
<html class="gr__getbootstrap_com" lang="en"><head>
<!--<meta http-equiv="content-type" content="text/html; charset=UTF-8">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Online Shopping experience from KCrush Shoppe">
    <meta name="author" content="Walmart Team A">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>KCrush Shoppe</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  
	  .bg {
		  /* The image used */
		  background-image: url("./images/Optimized-back.jpg");
		  background-repeat: repeat;
		  background-size: auto;
		}
		
    </style>
    <!-- Custom styles for this template -->
    <!--<link href="./css/css.css" rel="stylesheet" type="text/css" >-->
    <!-- Custom styles for this template -->
    <link href="./css/blog.css" rel="stylesheet" type="text/css">
	<link href="./css/carousel.css" rel="stylesheet" type="text/css">
	<link href="./css/pageStyles.css" rel="stylesheet" type="text/css">
	<!--<link href="./css/style.css" rel="stylesheet" type="text/css">-->
	<!--<link href="./css/watson-react-components.css" rel="stylesheet" type="text/css"> -->
	<!-- add jquery -->
	<script src="./js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<!-- add bootstrap -->
	<script src="./js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  </head>
  <body data-gr-c-s-loaded="true" class="bg">
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#"><img src="./images/logo_small.png" alt="logo"></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#"></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <!--<form class="form-inline mt-2 mt-md-0" id="frm_search">-->
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="txt_search" disabled="disabled">
		<!--</form>-->
		<a class="text-muted" href="#" aria-label="Search" id="btn_search">
		  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <div id="loading_nav_head"><center>
      <img src="./images/loading2.gif"/></center>
    </div>
    <nav class="nav d-flex justify-content-between" id="nav_bar_head">
		<!--generated at run-time -->
    </nav>
  </div>

  
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark shadow" style="background-image: url('./images/banner_top.jpg'); background-size: 100% 100%;" id="head_bar">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">New Year Sale</h1>
      <p class="lead my-3">Get products at great discounts !!</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Browse ALL products ...</a></p>
    </div>
  </div>
 
  
  <!-- start carrousal -->
  <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner" id="nav_carousel">
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->
  <!-- end carrousel -->

  <div id="loading_classes"><center>
    <img src="./images/loading2.gif"/></center>
  </div>
  <div class="row mb-2" id="class_list">
	<!--<div class="col-md-4 flex-column">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Most Viewed</strong>
          <h5 class="mb-0">Featured Product</h5>
          <div class="mb-1 text-muted">&nbsp;</div>
          <p class="card-text mb-auto">product description</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
		  <img class="bd-placeholder-img" width="200" height="250" src="1002.png" />
        </div>
      </div>
    </div>-->
  </div>
	
	 <!--<div class="container" id="watsonapp">
		<div class="row">
			<div class="col-md-6 text-center" style="color: #008571; ">
				<h1>Test Watson STT</h1>
			</div>
		</div>
		<div class="row">
			<br/>
			<div class="col-md-6"><center><img id="microphone" src="microphone.png"> ... <img id="stop" src="stop.png"></center></div>
			<br/>
		</div>
		<div class="row">
			<div class="col-md-6">
			  <center><div cols="50" class="speech-only" id="speech" readonly wrap="soft" >Spoken output goes here</div></center>
			</div>
		  </div>
	</div>-->
				
  
</div>

<main role="main" class="container">
  <div class="row mb-2" id="prod"></div>
  <div class="row">
    <!--
	<div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that’s 
supported and styled with Bootstrap. Basic typography, images, and code 
are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>,
 nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem 
lacinia quam venenatis vestibulum. Sed posuere consectetur est at 
lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus 
dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor 
ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac 
consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta 
sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus 
commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes,
 nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. 
Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac
 cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div> -->
	  <!-- /.blog-post -->
		
		<!--<button id="btn_rec">Record</button>...<button id="stop">Stop</button>...
		<audio id="player" controls></audio>...
		<a id="download">Download</a>
		-->


		<!--
      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav> -->

    <!--</div> /.blog-main -->
	
	<!--
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside> --> 
	<!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main> <!-- /.container -->

<!--<script src="jquery-3.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->

<footer class="blog-footer">
  <p>Website Built on <a href="#">Openshift</a> by <a href="#">Walmart Team A</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


<img src="./images/mouseover.png" id="link_preview_icon" style="visibility: hidden; left: 646px; top: 93px;"><div id="lprv_frame" style="visibility: hidden;">
         <!-- <div class="lprv_toolbar">
            <div id="logo"></div>
            <div class="lprv_btn_group">
              <button class="lprv_btn" id="back" title="Back"></button>
              <button class="lprv_btn" id="forward" title="Forward"></button>
            </div>
            <div class="lprv_btn_group">
              <button class="lprv_btn" id="open_tab" title="Open in new tab"></button>
            </div>
            <div class="lprv_btn_group" id="pin">
              <button class="lprv_btn" id="push-pin" title="Keep preview frame open"></button>
              <button class="lprv_btn" id="hide" title="Hide preview frame"></button>
            </div>
          </div>
          <div id="lprv_vresize"></div>
          <iframe id="lprv_content"></iframe>
        </div>-->
	
<!-- Watson inclusion -->
	<!--<script src="watson-speech.js"></script>-->
	<!--<script src="z2c-speech.js"></script>-->
	<!--<script src="bundle.js"></script>-->
	
	<script type="text/javascript">
	
		$(function() {
			
			const domain = "https://crushretailapp.sayantanpc.repl.co";
			let url = "";
			
			//initPage(domain);
			
			/*let shouldStop = false;
			  let stopped = false;
			  const downloadLink = $('#download');
			  const stopButton = $('#stop');

			  stopButton.click(function() {
				shouldStop = true;
				console.log('Rec stopped');
			  });

			  const handleSuccess = function(stream) {
				const options = {mimeType: 'audio/webm'};
				const recordedChunks = [];
				const mediaRecorder = new MediaRecorder(stream, options);

				mediaRecorder.addEventListener('dataavailable', function(e) {
				  if (e.data.size > 0) {
					recordedChunks.push(e.data);
					console.log('data pushed to list');
				  }

				  if(shouldStop === true && stopped === false) {
					mediaRecorder.stop();
					stopped = true;
				  }
				});

				mediaRecorder.addEventListener('stop', function() {
				  downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
				  downloadLink.download = 'acetest.wav';
				});
				
				mediaRecorder.start();

			  };

			
			$('#btn_rec').click(function(){
				//const player = $('#player');
				navigator.mediaDevices.getUserMedia({ audio: true, video: false })
						.then(handleSuccess);

			});*/
			
			//delete any children of the search results container
			$("#prod").children().remove();
			$("#prod").hide();
			$("#txt_search").val('');
			
			//load top nav bar menu
			$( "#nav_bar_head" ).hide();
			
			$.getJSON( domain + "/families", function( data ) {
				////alert( "try get" );
				//alert(data);
				if(data == 'undefined' || data == null) exit;
				
				$( "#nav_bar_head" ).append('<a class="p-2 text-muted" href="/">Home</a>');
								
				//load family list
				for(let i=0;i<data.length; i++){
				
					url = domain + "/family/"+ data[i].family +"/classes";
					
					let nav_bar_head = '<a class="p-2 text-muted" href="' + url +'">'+ data[i].Family_Name +'</a>';									
					$( "#nav_bar_head" ).append(nav_bar_head);
				}
				
				$("#loading_nav_head").fadeOut("fast");
				$( "#nav_bar_head" ).fadeIn("slow");
				
				//alert( nav_bar_head );
			});
			
			
			//load carousel
			/*$.getJSON( domain + "/classes", function( data ) {
				if(data == 'undefined' || data == null) exit;
								
				//load classes list
				for(let i=0;i<data.length; i++){
				
					url = domain + "/class/"+ data[i].class +"/comm";
					
					let nav_carousel_head = '<li data-target="#myCarousel" data-slide-to="' + i + (i==0 ? ' class="active"' : '') + '"></li>';
					
					let nav_carousel = '<div class="carousel-item '+ (i==0 ? 'active' : '') +'">' +
										'<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>' + 
										'<div class="container">' +
										  '<div class="carousel-caption text-left">' + 
											'<h1>' + data[i].class_Name + '</h1>' +
											'<p>Check out our range of ' + data[i].class_Name + '</p>' +
											'<p><a class="btn btn-lg btn-primary" href="'+ url +'" role="button">Browse</a></p>' +
										  '</div></div></div>';
					
					$("#myCarousel > .carousel-indicators").append(nav_carousel_head);
					$("#nav_carousel").append(nav_carousel);
				}
				
			});*/
			
			
			//load class list
			$.getJSON( domain + "/classes", function( data ) {
				if(data == 'undefined' || data == null) exit;
				
				$("#class_list").children().remove();
				$("#class_list").hide();
								
				//load classes list
				for(let i=0;i<data.length; i++){
				
					url = domain + "/class/"+ data[i].class +"/comm";
					
					let nav_class_list = '<div class="col-md-4 flex-column">' +
											  '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">' +
												'<div class="col p-4 d-flex flex-column position-static">' +
												  '<strong class="d-inline-block mb-2 text-primary">' + data[i].family_Name + '</strong>' +
												  '<h5 class="mb-0">' + data[i].class_Name + '</h5>' +
												  '<div class="mb-1 text-muted"></div>' +
												  '<p class="card-text mb-auto"></p>' +
												  '<a href="' + url +'" class="stretched-link">Browse</a>' +
												'</div>' +
												'<div class="col-auto d-none d-lg-block">' +
												  '<img class="bd-placeholder-img" width="200" height="250" src="./images/1002.png" />' +
												'</div> </div> </div>';
					
					$("#class_list").append(nav_class_list);
				}
				
				$("#loading_classes").fadeOut("fast");
				$("#class_list").fadeIn("slow");
				
			});
			
						
	
			
			//enable the search button on page load
			$("input:disabled").removeAttr("disabled");
			
			function search(q){
			
				//cleanup previous search results
				$("#prod").children().remove();
				$("#prod").hide();
				$("#search_q").remove();				
				
				let v = $.trim(q);
				
				//save the recent searches
				let d = $(this).data();
				//alert(JSON.stringify(d));
				if (d.q == null || d.q == undefined){
					$(this).data({ q: [v] });
				}else{
					let x = d.q;
					x.push(v);
				}
				
				//check if search string is blank
				if(v == "" || v == null){
					$("#class_list").fadeIn("slow");
				} else {
				
					$.getJSON( domain + "/search/"+ encodeURI(q) + "/1", function( res ) {
											
						if(res.status == 'failed') {
							let html = '<div class="nav-scroller py-1 mb-2" id="search_q">' +
										'<strong class="d-inline-block mb-2">No search results. Try another search.</strong><br></br>' +
										'</div>';
							
							$("#head_bar").after(html);
						} else {
													 
							//alert(JSON.stringify(res));
						
							for(let i=0;i<res.data.length;i++){
								url = domain + '/image/' + res.data[i].sku_Item_Number;
								
								let item = '<div class="col-md-4"> <a href="#">' +
										  '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">' +
											'<div class="col p-4 d-flex flex-column position-static">' +
											  '<strong class="d-inline-block mb-2 text-success">' + res.data[i].cat_Class_Name +'</strong>' +
											  '<h5 class="mb-0">' + res.data[i].sku_Description + '</h5>' +
											  '<p class="mb-auto" >  </p>' +
											  '<p class="mb-auto" ><strong class="d-inline-block mb-2 text-success">$'+ res.data[i].prc_List_Price + '</strong></p>' +
											'</div>' +
											'<div class="col-auto d-none d-lg-block">' +
											  '<img class="bd-placeholder-img" crossorigin="anonymous"  max-width="auto" height="250" src="' + url + '" />' +
											'</div> </div> </a> </div>';
								
								$("#prod").append(item);
								//alert($("#prod").html());
							}
							
							//hide the home page contents & show the search results
							//$("#nav_carousel").hide();
							//$("#content_below").hide();
							$("#class_list").fadeOut("slow");
							
							//show the string searched for
							let html = '<div class="nav-scroller py-1 mb-2" id="search_q">' +
										'You searched for : <strong class="d-inline-block mb-2"><span>' + v + '</span></strong>. ' + 
										res.count +' items found.</div>';
							 
							$("#head_bar").after(html);
							
							//show the search results
							$("#prod").fadeIn("slow");
							
						}
					
					});
				}
				
			}
			
			$("#btn_search").on('click', function(e){
				search($("#txt_search").val());
				$("#txt_search").val('');
			});
			
			$("#txt_search").on('change', function(e){					
				search($("#txt_search").val());
				$("#txt_search").val('');
				//alert(JSON.stringify($("#txt_search").data()));
			});	

		});
		
		
  </script>
</body></html>