<!DOCTYPE html>

<html>
    <head>
        <title>WMT Team 1 - Retail Online catalog app</title>
        <style>
            a {color: blue;}
        </style>
    </head>

    <body>
        <h1>Product List</h1>

        <ul>
        <% prodlist.forEach(function(item, index) { %>
            <li><a href="/itemdetail/<%= item.item_number %>"><%= item.item_desc %></a> 
            </li>
        <% }); %>
        </ul>

    </body>
</html>